body {
  font-family: $fontPrimary;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: $colorPrimary;
  background-color: #ffffff;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 250px;
}

.no-scroll {
  overflow: hidden;
}
